body {
  font-family: 'Segoe UI', sans-serif;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  width: 400px;
  margin: auto;
}

input {
  padding: 12px;
  width: 100%;
  margin: 10px 0;
}

button {
  padding: 12px 20px;
  background: #0072ff;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
}
